<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Todoアプリ
    </title>
<link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
</head>
<style>
    body {
        background-color:rgb(179, 255, 230);
        font-family: "M PLUS 1p";
    }
</style>
<body>
    <div class="todoAppWrapper">{% block content %} {% endblock content %}</div>
</body>
</html>